[server]
port = 8080

[data]
dir = "/tmp/iedb-agent-data"

[wal]
flush_interval_secs = 1
max_write_buffer_ops = 100000

[flush]
snapshot_interval = "30s"
backend = "http"
memory_limit = "64MB"

[iotedgedb]
url = "http://192.168.0.118:8000"

[agent]
id = "agent-arm32-01"
